################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CalculatorChallenge.Business/bin/Debug/net9.0
/CalculatorChallenge.Business/obj
/CalculatorChallenge.Tests/bin/Debug/net9.0
/CalculatorChallenge.Tests/obj
